@import "tailwindcss";

:root {
  --background: #0B0F19;
  --foreground: #F8FAFC;
}

@theme inline {
  --color-background: var(--background);
  --color-translator-card: #1E293B;
  --color-button: #2563EB;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
